src/CaregiverApp/__pycache__
src/CaregiverApp/__pycache__/
src/gui_template/__pycache__/
src/gui_template/__pycache__
src/guiTemplateCustomTkinter/__pycache__/
src/guiTemplateCustomTkinter/__pycache__

