[Desktop Entry]
Type=application
Name=Ssec login window
Exec=python /bin/ssec_startup.py
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0

