[Unit]
Description=Unmounting and LUKS closing of /home direcory partition
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /ssec/ssec_close.py

[Install]
WantedBy=shutdown.target
